<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{ block "head" . }}
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7TJ3KWD370"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-7TJ3KWD370');
        </script>

        <meta charset="utf-8">
        <meta name="description" content="{{ .Site.Params.Description }}">
        <meta name="keywords" content="Dissidence, Interviews, Humor, Commentary, Satire">
        <meta name="author" content="{{ .Site.Params.Author }}">
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="index, follow">

        {{ if isset .Params "title" }}
        <title>{{ .Params.title }} | {{ .Site.Title }}</title>
        {{ else }}
        <title>{{ .Site.Title }}</title>
        {{ end }}

        <link rel="icon" type="image/x-icon" href='{{ "fav.ico" | relURL }}'>

        {{ block "style" .  }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
        {{ $sassTemplate := resources.Get "scss/main.scss" }}
        {{ $style := $sassTemplate | resources.ExecuteAsTemplate "main.scss" . | css.Sass | resources.Minify }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        <!-- Google AdSense -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5333155373318514"
                crossorigin="anonymous"></script>
        {{ end }}
    </head>
    {{ end }}

    {{ block "body" . }}
    <body>
        {{ block "navbar" .  }}
        {{ end }}
        {{ block "main" . }}
        {{ end }}
        {{ block "footer" .  }}
        {{ end }}
        {{ block "javascript" . }}
        {{ end }}
    </body>
    {{ end }}

</html>
