{{ define "navbar" }}
{{ partial "nav.html" }}
{{ end }}

{{ define "main" }}

<!-- Writing -->
<div class="container-fluid bg-gold" id="writing">
  <div class="container p-3">

      <div class="row gx-4">
        {{ range ( where site.RegularPages "Section" "articles" | first 1 ) }}
        {{ partial "article_cards_top.html" . }}
        {{ end }}
      </div>

    </div>
  </div>
</div>

<div class="container p-3">
  <div class="row g-4">

    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Subscribe on Substack</h2>
            <div data-supascribe-embed-id="303236822099" data-supascribe-subscribe></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-gold">
  <div class="container p-3">

    <div class="row gx-4">
      <div class="col-3">
        <h2>Articles</h2>
      </div>

      <div class="col-9 text-end text-md-end">
        <a class="btn btn-outline-dark btn-floating m-1" href="https://duedissidence.substack.com" role="button" title="Substack">
          <iconify-icon icon="simple-icons:substack" height="24"></iconify-icon>
        </a>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-2 row-cols-lg-4 g-4 mt-0">
      {{ range ( where site.RegularPages "Section" "articles" | first 9 | last 8 ) }}
      {{ partial "article_cards.html" . }}
      {{ end }}
    </div>

  </div>
</div>

<!-- Video / Contribute -->
<div class="container p-3" id="video">
  <div class="row g-4">

    <div class="col-12 col-lg-6">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Videos</h2>
          <p>We typically stream live on 2pm Tuesdays, 12pm Thursdays, and 7pm Sunday ET. Watch us here or on your favorite video streaming platform.</p>
        </div>
        <div class="video-container shadow-none">
          <iframe class="card-img-bottom" src="https://www.youtube.com/embed/videoseries?list=PL8RPLQX-IDX_czfperwWind2jRn3MU7jb" loading="lazy" ></iframe>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="card h-100">
        <div class="card-body">

          <h2 class="card-text mt-3">Contribute</h2>
          <p class="card-text" style="font-size: 20px">This show is only possible with contributions from our viewers. Please consider helping us grow by supporting us on <a href="https://www.patreon.com/duedissidence" class="blink">Patreon</a>, <a href="https://duedissidence.substack.com/subscribe?coupon=402ab0ae" class="blink">Substack</a>, or <a href="https://www.paypal.com/donate?business=6FZ5ALG7YE8J4" class="blink">PayPal</a>!</p>

          <h2 class="card-title">Follow</h2>
          <p class="card-text">Stay up to date with our commentary by following us on social media.</p>

          <div class="d-flex justify-content-center">
            <a class="btn btn-lg btn-outline-dark btn-floating m-1" href="https://www.facebook.com/duedissidence" role="button" title="Facebook">
              <iconify-icon icon="simple-icons:facebook"></iconify-icon>
            </a>
            <a class="btn btn-lg  btn-outline-dark btn-floating m-1" href="https://x.com/duedissidence" role="button" title="Twitter">
              <iconify-icon icon="simple-icons:x"></iconify-icon>
            </a>
            <a class="btn btn-lg btn-outline-dark btn-floating m-1" href="https://www.tiktok.com/@duedissidence" role="button" title="TikTok">
              <iconify-icon icon="simple-icons:tiktok"></iconify-icon>
            </a>
            <a class="btn btn-lg btn-outline-dark btn-floating m-1" href="https://www.instagram.com/duedissidence" role="button" title="Instagram">
              <iconify-icon icon="simple-icons:instagram"></iconify-icon>
            </a>
          </div>

          <h2 class="card-text mt-3">Contact Us</h2>
          <p class="card-text">Feel free to reach out with any questions or comments by <a href="mailto:{{ .Site.Params.email }}">email</a>.</p>

        </div>
      </div>
    </div>

  </div>
</div>

<!-- Audio -->
<div class="container-fluid bg-flax" id="audio">
  <div class="container p-3">

    <div class="row gx-4">
      <div class="col-3">
        <h2>Podcast</h2>
      </div>

      <div class="col-9 text-end text-md-end">
        <a class="btn btn-outline-dark btn-floating m-1" href="https://podcasts.apple.com/us/podcast/id1457244081" role="button" title="Apple Podcasts">
          <iconify-icon icon="ph:apple-podcasts-logo" height="24"></iconify-icon>
        </a>
        <a class="btn btn-outline-dark btn-floating m-1" href="https://castbox.fm/channel/4969436" role="button" title="Castbox">
          <iconify-icon icon="simple-icons:castbox" height="24"></iconify-icon>
        </a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <iframe src="https://castbox.fm/app/castbox/player/id4969436?v=8.22.11&autoplay=0" loading="lazy"  width="100%" height="500"></iframe>
      </div>
    </div>

  </div>
</div>

<!-- About -->
<div class="container p-3" id="about">
  <div class="row g-4">

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">About</h2>
          <p class="card-text">
            Due Dissidence began as a blog and podcast project in 2019 - we are now a multimedia one-stop shop for political commentary, interviews, and satire.
            <br><br>
            Our videos and livestreams can be viewed on YouTube and Rumble. Written articles appear on Substack. Audio versions of our streams are available on all major podcast players.
            <br><br>
            We are a completely independent outlet, and so support on Patreon and/or Substack is much appreciated.
            <br><br>
            To get in touch with us for questions, comments, feedback, or press inquiries, email us at <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>.
        </div>
      </div>
    </div>

  </div>
</div>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}

{{ define "javascript" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
<script src="https://substackapi.com/widget.js" async></script>
<script src="https://js.supascribe.com/v1/loader/HfbtxW2htiOXt3gcYefECBZgARE2.js" async></script>
{{ end }}
