{{ define "main" }}

<div class="container banner">
  <div class="row g-4">
    <h1 style="text-align:center;">{{ .Title  }}</h1>
  </div>
</div>

<div class="container-fluid bg-gold">
  <div class="container p-3">
    <div class="row justify-content-around row-cols-1 row-cols-lg-3 g-4 mt-0 mb-4">
    {{ range .Pages }}
      <div class="col">
        <div class="card h-100">
          {{ $image := .Page.Resources.GetMatch .Params.Image }}
          {{ $image := $image.Resize "400x" }}
          <a href="{{ .Permalink }}">
            <img class="card-img-top" src="{{ $image.Permalink }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text">{{ .Summary }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ .Date.Format "January 2, 2006" }}</small>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "javascript" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
{{ end }}
