<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
<script src="https://substackapi.com/widget.js" async></script>
<script>
 window.CustomSubstackWidget = {
   substackUrl: "duedissidence.substack.com",
   placeholder: "example@gmail.com",
   {{ if .IsHome }}
   buttonText: "Subscribe",
   {{ else  }}
   buttonText: "\u2713",
   {{ end }}
   theme: "custom",
   colors: {
     primary: "#212529",
     input: "#00000000",
     email: "#000000",
     text: "#e9ecef",
   }
 };
</script>
{{ if .IsHome }}
<script src="https://substackapi.com/embeds/feed.js" async></script>
<script>
 window.SubstackFeedWidget = {
   substackUrl: "duedissidence.substack.com",
   posts: 3,
   colors: {
     primary: "#404040",
     secondary: "#404040",
     background: "#A6646400",
   }
 };
</script>
{{ end }}
