<div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-sm  navbar-dark bg-dark">
        <div class="container justify-content-end">

            <a class="navbar-brand" href="{{ .Site.BaseURL | relURL }}#home">
                <img src="{{ .Site.BaseURL | relURL }}/img/logo-thumb-round.png" alt="Due Dissidence.">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end text-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL | relURL }}#video">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL | relURL }}#audio">Podcasts</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdown">Articles</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ .Site.BaseURL | relURL }}#writing">Current</a></li>
                            <li><a class="dropdown-item" href="{{ .Site.BaseURL | relURL }}archives">Archives</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL | relURL }}#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL | relURL }}#contribute">Contribute</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
