<div class="container-fluid" id="home" style="background-color: hsla(210, 10%, 12%, 1)">
  <div class="container text-white p-2">
    <div class="row gx-4 gy-2">
      <div class="col-12 col-sm-5 text-center text-md-start">
        <section>
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/duedissidence" role="button"><iconify-icon icon="simple-icons:facebook"></iconify-icon></a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://x.com/duedissidence" role="button"><iconify-icon icon="simple-icons:x"></iconify-icon></a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/@DueDissidence" role="button"><iconify-icon icon="simple-icons:youtube"></iconify-icon></a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://duedissidence.substack.com" role="button"><iconify-icon icon="simple-icons:substack"></iconify-icon></a>
        </section>
      </div>
      <div class="col-12 col-sm-7 text-center text-md-end">
        <section class="">
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.patreon.com/duedissidence" role="button">
            <iconify-icon icon="simple-icons:patreon"></iconify-icon> &nbsp; Subscribe!
          </a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.paypal.com/donate?business=6FZ5ALG7YE8J4" role="button">
            <iconify-icon icon="simple-icons:paypal"></iconify-icon> &nbsp; Donate!
          </a>
        </section>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark justify-content-end">
  <div class="container">

  <a class="navbar-brand" href='{{ "#" | relURL }}'>
    <h2 style="color:white">Due Dissidence</h2>
  </a>

  <button aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" class="navbar-toggler"
          data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
          type="button">
      <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse justify-content-end navbar-dark bg-dark" id="navbarSupportedContent">
      <ul class="navbar-nav mb-auto mb-2 mt-lg-0">

        {{- $page := site.GetPage page.Section }}
        {{- range site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href='{{ or .URL .PageRef | relURL }}'>{{- .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
</nav>
