{{ define "navbar" }}
{{ partial "nav.html" }}
{{ end }}

{{ define "main" }}

<div class="container banner">
  <div class="row g-4">
    {{ if .Params.Image }}
    <img src="{{ .Params.Image }}">
    {{ else }}
    <img src="/img/header.png">
    {{ end }}
    <h2>{{ .Title  }}</h2>
    <p><b>{{ .Params.Author }}</b> | {{ dateFormat "January 2, 2006" .Date.Local }}</p>
  </div>
</div>

<div class="container-fluid">
  <div class="container post p-3">
    <div class="row g-4">
      <div class="col-12 col-lg-9">
        {{ .Content }}

        <div class="row g-3">
          {{ with .Next }}
          <div class="col-12 col-md-6">
            <div class="card h-100">
              <div class="card-body py-0 pe-0">
                <h3 class="card-title">Next</h3>
                <a href={{ .Permalink }}>
                  <h4 class="card-text">{{ .Title }}</h4>
                </a>
              </div>
              <div class="card-footer">
                <small class="text-muted">{{ .Params.Author }} | {{ dateFormat "January 2, 2006" .Date.Local }}</small>
              </div>
            </div>
          </div>
          {{ end }}

          {{ with .Prev }}
          <div class="col-12 col-md-6">
            <div class="card h-100 text-end">
              <div class="card-body py-0 ps-0">
                <h3 class="card-title">Previous</h3>
                <a href={{ .Permalink }}>
                  <h4 class="card-text">{{ .Title }}</h4>
                </a>
              </div>
              <div class="card-footer">
                <small class="text-muted">{{ .Params.Author }} | {{ dateFormat "January 2, 2006" .Date.Local }}</small>
              </div>
            </div>
          </div>
          {{ end }}
        </div>

      </div>
      <div class="col-12 col-lg-3">
        {{ partial "sidebar.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}

{{ define "javascript" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
<script src="https://substackapi.com/widget.js" async></script>
<script>
 window.CustomSubstackWidget = {
   substackUrl: "duedissidence.substack.com",
   placeholder: "me@gmail.com",
   buttonText: "\u2713",
   theme: "custom",
   colors: {
     primary: "#212529",
     input: "#00000000",
     email: "#000000",
     text: "#e9ecef",
   }
 };
</script>
{{ end }}
